h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #d7d7d7;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #bababa;
}
a {
  color: #fbb117;
  text-decoration: none;
}
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #fbb117;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}